
.titletext h2
{
    font-size: 18px;
}


.imgbox
{
    width: 80%;
    height: auto;
}

.imgbox h2
{
    font-size: 25px;
}

.ytvideo
{
    width: 80%;
    height: auto;
}

.ytvideo p
{
    font-size: 10px;
}