*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* variables */

:root
{
    --main-width: 80%;
}

.centerdiv
{
    margin: auto;
    display: grid;
    place-items: center;
}


body
{
    width: 100%;
    height: 100%;
    background: url(https://media.tenor.com/2hQ42XsedIcAAAAC/falling-stars.gif);
    background-size: cover;
}

.sides
{
    width: auto;
    height: 100%;
    position: fixed;
    top: 0;
    padding: 0 10px 0 10px;
    z-index: 19999;
}

.leftside
{
    left: 0;
}


.rightside
{
    right: 0;
}

/* main messege */

.mainmsg
{
    width: 80%;
    height: auto;
    margin-top: 30px;
}


.adbox 
{
    width: var(--main-width);
    margin: 20px auto;
}

.visitor
{
    width: var(--main-width);
    height: 100px;
    margin-top: 30px;
    animation: visitor 3s linear infinite;
}

@keyframes visitor 
{
    0%, 100% { transform: rotate3d(0, 1, 0.2, -40deg); }
    50% { transform: rotate3d(0.5, 1, 0.5, 40deg); }
}

.visitor h2
{
    color: #fff;
    text-transform: uppercase;
}

.titletext
{
    width: 80%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.titletext h2
{
    text-align: center;
    animation: titletxt 1s linear infinite;
}

@keyframes titletxt {

    0%, 100% { transform: translateY(-10px);  }
    50% { transform: translateY(10px);}
}

.imgbox
{
    width: var(--main-width);
    height: auto;
    margin-top: 30px;
}

.imgbox #img
{
    box-shadow: 0 0 60px rgba(245, 30, 10, 0.9);
    border-radius: 20px;
}

.imgbox h2
{
    text-align: center;
    padding: 20px 0 20px 0;
    animation: anitex 2s linear infinite;
}

@keyframes anitex {

    0%, 100% { transform: scale(0.7);  }
    50% { transform: scale(1);}
}

/* you tube video */

 .ytvideo
 {
    width: 560px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
 }


 .ytvideo p
 {
    color: aliceblue;
    font-size: 16px;
    font-weight: 600;
    background: teal;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 30px;
    animation: ytvideotext 2s linear infinite;
 }

 @keyframes ytvideotext
 {
    0% , 100% { transform: translateX(-4px); background: tomato;}
    50% { transform: translateX(4px); background: teal; }
 }

/* yt video end */

/* gif box */

.mgifbox
{
    max-width: 600px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0;
}

.mgifbox img
{
    margin-bottom: 10px;
}

/* gif box */

.gifbox
{
    width: var(--main-width);
    height: 300px;
    margin-bottom: 30px;
    /* background: tomato; */
}

/* share btn */
.sharebtn
{
    width: 100%;
    visibility: hidden;
    margin-bottom: 80px;
    animation: sharebtn 3s linear infinite;
}

@keyframes sharebtn
{
    0%, 100% { transform: translateY(-5px); }
    50% { transform: translateY(5px); background: teal;}
}

.form-box
{
    position: fixed;
    bottom: 10px;
    left: 10%;
    width: 80%;
    margin: auto;
    margin-bottom: -60px;
}

.ftchname
{
    width: 80%;
    height: auto;
    margin: auto;
    position: fixed;
    top: 20px;
    left: 10%;
    color: #fff;
    background: #333;
}